{% extends 'base.html' %}
{% block title %}Войдите{% endblock title %}
{% block content %}
<div class="home__page">
    <div class="home__page-name">
        <h2>Вход</h2>
    </div>
</div>
<div class="login">
    <form class="all-forms" action="." method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <button class="button" type="submit">Войти</button>
    </form>
    <a class="register" href="{% url 'register' %}">Зарегистрироваться</a>
</div>
{% endblock content %}